@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --moovie_main_color	: brown;
}

.example1 {
  width: 50;
  height: 50;
}

footer {
  padding: 15px 23px;
  background: #1b1b1a;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

footer a {
  color: crimson;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}